body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 5px;
  border: transparent 2px solid;
  background-clip: content-box;
}
